@import "tailwindcss";

@theme {
    --color-medgray: #3C3B3B;
    --color-medgrayoffset: #474747;
    --color-medgray_hover: #323232;
    --color-blackgray: #262626;
    --color-blackgrayhover: #2d2d2d;
    --color-lightgray: #848484;
    --color-verylightgray: #DBDBDB;
    --color-medlightgray: #4A4A4A;
    --color-accent: #500000;
}